PORT=3000
NODE_ENV=development
LOCAL_DATABASE=mongodb://mongo:27017/MediLink_Test

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d

REDIS_USERNAME=default
REDIS_PASSWORD=your_redis_password
REDIS_HOST=redis
REDIS_PORT=6379

TWILIO_SID=your_twilio_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE=your_twilio_phone

IMAGEKIT_PUBLIC_KEY=your_public_key
IMAGEKIT_PRIVATE_KEY=your_private_key
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_endpoint
